<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      body{
        background-image: url("../static/dark2.jpg");
        background-size: cover;
      }
      .ashu{
        opacity: 1;
        background: gray;
        width: 40%
        border-radius:15px;
        margin: 0% 30% 0% 30%;
      }
      .mycard{
        background: black;
        opacity: 0.6;
      }
      .container1{
        margin-left: 10%;
        margin-right: 10%;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class="container1">
      <div class="row" style="margin-bottom:2.5%;margin-top:2.5%">
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 1
                </div>
                <div class="card-body">
                  Enter your<span class=" hd txt-rotate" data-period="1000" data-rotate='[ "question here."]'></span>
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 2
                </div>
                <div class="card-body">
                  Enter the question here
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 3
                </div>
                <div class="card-body">
                  Enter the question here
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 4
                </div>
                <div class="card-body">
                  Enter the question here
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 5
                </div>
                <div class="card-body">
                  Enter the question here
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card text-center" style="padding:10%;background:black;color:white;opacity:0.7">
            <center><img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/ai-bot-robot-technology-machine-3cad6573056c2037-512x512.png" style="height:70px; width:70px"></center><br>
                <div class="card-header ashu">
                  Question 6
                </div>
                <div class="card-body">
                  Enter the question here
                  <div class="form-group row" style="margin-top:8%">
                      <div class="col-sm-10 offset-sm-1">
                          <input type="text" class="form-control" id="input" placeholder="Write your answer here">
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <input class="btn btn-outline-success" value="Check">
                </div>
        </div>
        </div>
    </div>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
