<!DOCTYPE html>
<head>
<meta charset="utf-8">
<style>
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #1f1f7a;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
  color: antiquewhite;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
#map{
  text-align: center;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background:linear-gradient(160deg,#02ccba,#aa7ecd);min-height:100vh">
  <div id="mind" class="container">
    <div class="row">
      <div class="col-12 col-md-12" style="border-radius:25px">
        <center><h2 style="margin:50px;color:white">Mind Map</h2></center>
        <div id="map" class="col-md-10" style="background:white;margin:2% 7% 7% 7%;border-radius:25px">
        </div>
        <center><a href="/index.html" class="btn btn-primary">Go Back</a></center>
      </div>
    </div>

    <hr>

    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10">
          <h2 style="margin:50px;font-family:Roboto;color:white">Test your progress by answering these questions</h2>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% for i in range(1,len(questions))%}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}"></li>
                {% end %}
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {% for x,y in enumerate(zip(questions, answers)) %}
                  {% if x==0 %}
                  <div class="carousel-item active">
                  {% else %}
                  <div class="carousel-item">
                    {% end %}
                      <div class="card text-center" style="width:50%;padding:8%;margin:2% 10% 10% 10%;background:white;opacity:1;border-radius:15px">
                        <div class="btn btn-primary">
                          <b>Question {{x}}</b>
                        </div>
                        <div class="card-body text-muted">
                          {{y[0].replace('blank0','_______')}}
                        </div>

                        <br><br>
                        <div id="{{x}}" class="btn btn-outline-success" style="display:none"> {{y[1]}}</div>
                        <button style="margin-top:50px" class="btn btn-info" onclick="document.getElementById('{{x}}').style.display = 'block';">check answer</button>
                </div>

                </div>
                {% end %}
          </div>
              </div>
        </div>
      </div>
              <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>

    </div>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $('.carousel').carousel({
      interval: false,
      pause: true
    });
  </script>
  <script>
  //original code see fiddle http://jsfiddle.net/Nivaldo/CbGh2/
  var pubs ={% jsonZ %};
  var diameter = 800;
  var margin = {top: 20, right: 120, bottom: 20, left: 120},
     width = diameter,
     height = diameter;
  var i = 0,
     duration = 350,
     root;
  var tree = d3.layout.tree()
     .size([360, diameter / 2 - 80])
     .separation(function(a, b) { return (a.parent == b.parent ? 1 : 10) / a.depth; });
  var diagonal = d3.svg.diagonal.radial()
     .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });
  var svg = d3.select("#map").append("svg")
     .attr("width", width )
     .attr("height", height )
   .append("g")
     .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");
  root = pubs;
  root.x0 = height / 2;
  root.y0 = 0;
  root.children.forEach(collapse); // start with all children collapsed
  update(root);
  d3.select(self.frameElement).style("height", "800px");
  function update(source) {
   // Compute the new tree layout.
   var nodes = tree.nodes(root),
       links = tree.links(nodes);
   // Normalize for fixed-depth.
   nodes.forEach(function(d) { d.y = d.depth * 140; });
   // Update the nodes…
   var node = svg.selectAll("g.node")
       .data(nodes, function(d) { return d.id || (d.id = ++i); });
   // Enter any new nodes at the parent's previous position.
   var nodeEnter = node.enter().append("g")
       .attr("class", "node")
       //.attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
       .on("click", click);
   nodeEnter.append("circle")
       .attr("r", 20)
       .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
       .style("transform","scale(2.0)");
   nodeEnter.append("text")
       .attr("x", 1e-6)
       .attr("dy", "18px")
       .attr("text-anchor", "start")
       //.attr("transform", function(d) { return d.x < 180 ? "translate(0)" : "rotate(180)translate(-" + (d.name.length * 8.5)  + ")"; })
       .text(function(d) { return d.label; })
       .style("fill-opacity", 1e-6)
       .style("font-weight","bold")
       .style("font-size","12p")
       .style("font-family","cursive");
   // Transition nodes to their new position.
   var nodeUpdate = node.transition()
       .duration(duration)
       .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
   nodeUpdate.select("circle")
       .attr("r", 4.5)
       .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });
   nodeUpdate.select("text")
       .style("fill-opacity", 1)
       .attr("transform", function(d) { return d.x < 180 ? "translate(0)" : "rotate(180)translate(-" + (d.label.length + 60)  + ")"; });
   // TODO: appropriate transform
   var nodeExit = node.exit().transition()
       .duration(duration)
       //.attr("transform", function(d) { return "diagonal(" + source.y + "," + source.x + ")"; })
       .remove();
   nodeExit.select("circle")
       .attr("r", 20);
   nodeExit.select("text")
       .style("fill-opacity", 20);
   // Update the links…
   var link = svg.selectAll("path.link")
       .data(links, function(d) { return d.target.id; });
   // Enter any new links at the parent's previous position.
   link.enter().insert("path", "g")
       .attr("class", "link")
       .attr("d", function(d) {
         var o = {x: source.x0, y: source.y0};
         return diagonal({source: o, target: o});
       });
   // Transition links to their new position.
   link.transition()
       .duration(duration)
       .attr("d", diagonal);
   // Transition exiting nodes to the parent's new position.
   link.exit().transition()
       .duration(duration)
       .attr("d", function(d) {
         var o = {x: source.x, y: source.y};
         return diagonal({source: o, target: o});
       })
       .remove();
   // Stash the old positions for transition.
   nodes.forEach(function(d) {
     d.x0 = d.x;
     d.y0 = d.y;
   });
  }
  // Toggle children on click.
  function click(d) {
   if (d.children) {
     d._children = d.children;
     d.children = null;
   } else {
     d.children = d._children;
     d._children = null;
   }
   update(d);
  }
  // Collapse nodes
  function collapse(d) {
   if (d.children) {
       d._children = d.children;
       d._children.forEach(collapse);
       d.children = null;
     }
  }
  </script>
</body>
