<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.css" />
        <link href="bootstrap-tour.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
        <link href="style.css" rel="stylesheet">
        <script src="pdf.js"></script>
        <script src="pdf.worker.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.js"></script>
    <div id="fullpage">
    	<div class="section">
        <header class="head jumbotron">
              </header>
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h1 class="d-flex justify-content-center text-white ">Making your learning experience easier with tutor.ai</h1>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 col-md-6 offset-md-3 t">
                          <h1 class="hd">Your own
                              <span class="txt-rotate" data-period="1000" data-rotate='[ "Personal Tutor", "Study Boddy", "mind maps", "tutor", "test-taker"]'></span>
                          </h1>
                          <h2>One stop solution to all-round study-assistance</h2>
                      </div>
                  </div>

          </div>
      </div>
      <div class="section upload" >
        <iframe src="./upload.html" width="95%" height="85%" style="margin:2%;border:1px solid #232425;border-radius:25px"></iframe>
      </div>
      <div class="section nami" >
        <div class="container">
          <center><div class="card text-center" style="width:50%;padding:10%;margin:10%;background:black;color:white;opacity:0.7">
                <div class="card-header">
                  MindMap
                </div>
                <div class="card-body">
                  <div class="form-group row">
                      <div class="col-sm-10 offset-sm-1">
                          <a class="btn btn-outline-info" href="graph.html" target="_blank">View Mind-Map</a>
                      </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Click on the above button to view the mind map
                </div>
        </div></center>
      </div>
    </div>

      <div class="section sanji" >
        <center><h2 style="color:white">Let's try some questions</h2></center>
        <div class="row">
          <div class="offset-md-1 col-md-10 col-sm-12">
            <
          </div>
        </div>
      </div>
    <!-- <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> -->
    <script>
    $(document).ready(function() {
    	$('#fullpage').fullpage();
    });
    </script>
  </body>
</html>
